body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

/* Buttons */
a {
  text-decoration: none;
  margin: 10px;
  padding: 10px 18px;
  background: #007bff;
  color: white;
  border-radius: 20px;
  display: inline-block;
}

a:hover {
  background: #0056b3;
}

/* Input */
input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: green;
  color: white;
}

/* Images */
.dog-img {
  width: 300px;
  margin: 15px;
  border-radius: 15px;
}

/* Grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* List */
ul {
  list-style: none;
}

li {
  margin: 10px;
}